name: Jsonix tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5
      
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install Project Dependencies
        working-directory: ./nodejs/scripts
        run: npm ci
      
      - name: Run test scripts
        working-directory: ./nodejs/scripts
        run: npm run test
